{
    "queue": {
        "job_type": "{{ getv "/configuration/discrete/worker/queue/job/type" "Discrete-Tiling" }}",
        "task_type": "{{ getv "/configuration/discrete/worker/queue/task/type" "Discrete-Tiling" }}",
        "job_manager_url": "{{ getv "/configuration/discrete/worker/queue/job/manager/url" "http://127.0.0.1:8082" }}",
        "heartbeat_manager_url": "{{ getv "/configuration/discrete/worker/queue/heartbeat/manager/url" "http://127.0.0.1:8081" }}",
        "heartbeat_interval_seconds": {{ getv "/configuration/discrete/worker/queue/heartbeat/interval/seconds" "0.2" }},
        "dequeue_interval_seconds": {{ getv "/configuration/discrete/worker/queue/dequeue/interval/seconds" "3" }}
    },
    "logger": {
        "type": "{{ getv "/configuration/discrete/worker/logger/type" "stream" }}",
        "level": "{{ getv "/configuration/discrete/worker/logger/level" "INFO" }}",
        "path": "{{ getv "/configuration/discrete/worker/logger/path" "./dw_logs.log" }}",
        "output": "{{ getv "/configuration/discrete/worker/logger/output" "stdout" }}"
    },
    "discrete_storage": {
        "url": "{{ getv "/configuration/discrete/worker/discrete/storage/url" "http://127.0.0.1:8080" }}"
    },
    "overseer": {
        "url": "{{ getv "/configuration/discrete/worker/overseer/url" "http://127.0.0.1:8081" }}"
    },
    "gdal": {
        "process_count": {{ getv "/configuration/discrete/worker/gdal/process/count" "1" }},
        "resampling": "{{ getv "/configuration/discrete/worker/gdal/resampling" "bilinear" }}",
        "tms_compatible": {{ getv "/configuration/discrete/worker/gdal/tms/compatible" "true" }},
        "profile": "{{ getv "/configuration/discrete/worker/gdal/profile" "geodetic"}}",
        "vrt": {
            "no_data": "{{ getv "/configuration/discrete/worker/gdal/vrt/no/data" "0" }}",
            "output_srs": "{{ getv "/configuration/discrete/worker/gdal/vrt/output/srs" "EPSG:4326" }}",
            "resample_algo": "{{ getv "/configuration/discrete/worker/gdal/vrt/resample/algo" "bilinear" }}"
        }
    },
    "source_mount": "{{ getv "/configuration/discrete/worker/source/mount" "/sourceMount" }}",
    "fs": {
        "external_physical_path": "{{ getv "/configuration/discrete/worker/fs/external/physical/path" "/ubuntu/outputs"}}",
        "internal_outputs_path": "{{ getv "/configuration/discrete/worker/fs/internal/outputs/path" "./tiles_outputs"}}"
    },
    "s3": {
        "endpoint_url": "{{ getv "/configuration/discrete/worker/s3/endpoint/url" "localhost:9000" }}",
        "access_key_id": "{{ getv "/configuration/discrete/worker/s3/access/key/id" "minioadmin" }}",
        "secret_access_key": "{{ getv "/configuration/discrete/worker/s3/secret/access/key" "minioadmin" }}",
        "bucket": "{{ getv "/configuration/discrete/worker/s3/bucket" "mapping-images" }}",
        "ssl_enabled": "{{ getv "/configuration/discrete/worker/s3/ssl/enabled" "NO" }}",
        "virtual_hosting": "{{ getv "/configuration/discrete/worker/s3/virtual/hosting" "NO" }}"
    },
    "storage_provider": "{{ getv "/configuration/discrete/worker/storage/provider" "fs" }}",
    "max_attempts": {{ getv "/configuration/discrete/worker/max/attempts" "3" }},
    "mandatory_task_fields": ["discreteId", "version", "minZoomLevel", "maxZoomLevel", "fileNames", "originDirectory"]
}
